{% extends "base.html" %}
{% block body_class %}home-bg{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h3>Change Password</h3>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        <form method="post">
            <div class="form-group">
                <label for="current_password">Current Password</label>
                <input class="form-control" type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input class="form-control" type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password</label>
                <input class="form-control" type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <a href="{{ url_for('profile', role=session['role'], user_id=session['user_id']) }}" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
{% endblock %}
