{% extends "base.html" %}
{% block body_class %}home-bg{% endblock %}
{% block content %}
<!-- Your code goes here -->
    <div class="container mt-5">
        <h3>Profile</h3>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        <form method="post">
            <div class="form-group">
                <label for="username">Username: </label>
                <p class="form-control" id="uneditable">{{ user_data[0] }}</p>
            </div>
            <div class="form-group">
                <label for="fname">First Name: </label>
                <input class="form-control" type="text" class="form-control" id="fname" name="fname" value="{{ user_data[1] }}" required>
            </div>
            <div class="form-group">
                <label for="lname">Last Name: </label>
                <input class="form-control" type="text" class="form-control" id="lname" name="lname" value="{{ user_data[2] }}" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Update Profile</button>
                <a href="{{ url_for('change_password', user_id=user_id) }}" class="btn btn-secondary">Change Password</a>
            </div>
        </form>
    </div>
{% endblock %}
