{% extends "base.html" %}
{% block body_class %}home-bg{% endblock %}
{% block content %}
    <div class="container">
        <h3>My Patients</h3>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        <div class="form-group">
            <label for="searchBox">Search by Name: </label>
            <div class="search-box">
                <input type="text" id="searchBox" placeholder="Patient's Name ..." class="form-control">
            </div>
        </div>

        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th class="d-none d-lg-table-cell">Date of Birth</th>
                        <th>Contact Number</th>
                        <th class="d-none d-lg-table-cell">Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient[2] }} {{ patient[3] }}</td>
                            <td>{{ patient[4] }}</td>
                            <td class="d-none d-lg-table-cell">{{ patient[10] }}</td>
                            <td>{{ patient[6] }}</td>
                            <td class="d-none d-lg-table-cell">{{ patient[8] }}</td>
                            <td>
                                <a href="{{ url_for('manage_health_records', user_id=session['user_id'], patient_id=patient[0], role=session['role']) }}" class="text-primary">View Health Records</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const searchBox = document.getElementById("searchBox");
                const tableRows = document.querySelectorAll("tbody tr");

                function filterRows() {
                    const searchTerm = searchBox.value.toLowerCase();
                    tableRows.forEach(row => {
                        const patientNameCell = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                        if (searchTerm === "" || patientNameCell.includes(searchTerm)) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    });
                }
                searchBox.addEventListener("input", filterRows);
            });
        </script>
    </div>
{% endblock %}